article {
    section {
        table.pin-row {
            thead {
                tr {
                    th {
                        font-weight: bold;
                        text-align: left;

                        &.col-notes-alt-funcs {}
                        &.col-pin-nums {}
                        &.col-alt5 {}
                        &.col-alt4 {}
                        &.col-alt3 {}
                        &.col-alt0 {}
                        &.col-gpio {}
                        &.col-rpi-pin-num {}

                        &.col-notes-alt-funcs, &.col-pin-nums, &.col-rpi-pin-num {
                            text-align: center;
                        }
                    }

                    &:last-child th
                    {
                        border-bottom: 2px solid #000;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        font-family: "Source Code Pro", monospace;
                        text-align: left;

                        &.col-special {
                            font-family: "Source Sans Pro", sans-serif;
                            text-align: right;

                            + td {
                                font-weight: bold;
                            }
                        }
                        &.col-alt5 {}
                        &.col-alt4 {}
                        &.col-alt3 {}
                        &.col-alt0 {}
                        &.col-gpio {}
                        &.col-rpi-pin-num {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

table.pin-row {
    thead tr th {
        &.col-gpio, &.col-pin-nums
        {
            border-left: 2px solid #000;
        }
    }
    tbody tr td
    {
        &.col-rpi-pin-num
        {
            border-left: 2px solid #000;
        }
    }
}

article
{
    section
    {
        table.pin-row
        {
            tr
            {
                td, th
                {
                    &.col-alt5, &.col-alt4, &.col-alt3, &.col-alt0, &.col-gpio
                    {
                        width: 130px;
                    }
//                    &.col-alt5, &.col-alt4, &.col-alt3, &.col-alt0, &.col-gpio, &.col-special
                    padding: 4px 3px 5px 3px;
                }
            }
        }
    }
}
