@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Code+Pro);

body {
    font-family: "Source Sans Pro", sans-serif;
}

header {
    h1 {
        padding-left: 40px;
    }
}

$borderColor: #aaa;

article {
    section {
        table.pin-row {
            margin: 10px 20px 20px 20px;
            border: 1px solid $borderColor;
            border-collapse: collapse;

            &.pin-row-odd {
            }
            &.pin-row-even {
            }

            thead {
                tr {
                    th {
                        border: 1px solid $borderColor;
                        font-size: 120%;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        border: 1px solid $borderColor;

                        &.def-func {
                            font-weight: bold;
                            font-style: oblique;
                        }
                    }
                }
            }
        }
    }
}

@import "columns";
@import "types";

code {

}

aside {
//    clear: both;
    padding-top: 20px;
    margin-left: 20px;

    h2 {

    }
    ul {
        li {
            a {

            }
        }
    }
}

footer {
    margin: 20px 20px 20px 20px;
    
    p {
        a {

        }
    }
}

//@import "wide";
@import "../css/github-fork-ribbon-css/gh-fork-ribbon.css";
.github-fork-ribbon
{
    background-color: #333;
}

